{% if messages %}
{% for message in messages %}
<div class="message-container" id="modal">
    <div class="alert alert-dismissible alert-success">
        <span class="button closebtn" type="button" class="close" data-dismiss="alert">
            &times;
        </span>
        {{message}}
        <div class="chart">
            <canvas id="myChart" width="1000" height="400"></canvas>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

<script>
    var close = document.getElementsByClassName("closebtn");
    var i;
    var modal = document.getElementById('modal')

    for (i = 0; i < close.length; i++) {
        close[i].onclick = function () {
            var div = this.parentElement;
            div.style.opacity = "0";
            setTimeout(function () { div.style.display = "none"; }, 600);
        }
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        if (event.target == close) {
            close.style.display = "none";
        }
    }
    
</script>