{% extends 'base.html' %}
{% load static %}
{% block title %}Customer Request{% endblock title %}

{% block body %}
<section class="hero">
    <div class="hero__title">
        <h1> customer satisfaction survey</h1>
    </div>
</section>
<section class="contact mt-1 mb-1">

    <div class="contact__form">

        <form action="" method="post">
            {% csrf_token %}

            <div class="form-control">
                <label for="name"> Organization </label>
                <input type="text" id="organization" name="organization">
            </div>
            <div class="form-control">
                <label for="name"> Name of person completing this form: </label>
                <input type="text" id="name" name="name">
            </div>
            <div class="form-control">
                <label for="name"> Designation/Job Title, as applicable: </label>
                <input type="text" id="title" name="title">
            </div>
            <div class="form-control">
                <label for="name"> Date: </label>
                <input type="date" id="date_created" name="date_created">
            </div>
            <h3><i>Please rate our services by ticking on the level of your satisfaction for the various parameters
                    provided.</i></h3>
            <div class="form-control">
                <div class="form-control">
                    <p>1. Quality of our service </p>
                    <div class="input-group radio">
                        <input type="radio" id="id_response_1" value="Very Good" name="Quality" required
                            style="width: auto;">
                        <label for="id_response_1">Very Good</label>
                    </div>
                    <div class="input-group radio">
                        <input type="radio" id="id_response_2" value="Good" name="Quality" required
                            style="width: auto;">
                        <label for="id_response_2">Good</label>
                    </div>
                    <div class="input-group radio">
                        <input type="radio" id="id_response_3" value="Average" name="Quality" required
                            style="width: auto;">
                        <label for="id_response_3">Average</label>
                    </div>
                    <div class="input-group radio">
                        <input type="radio" id="id_response_4" value="Below Average" name="Quality" required
                            style="width: auto;">
                        <label for="id_response_3">Below Average</label>
                    </div>
                    <div class="input-group radio">
                        <input type="radio" id="id_response_5" value="Poor" name="Quality" required
                            style="width: auto;">
                        <label for="id_response_5">Poor</label>
                    </div>
                    <div class="input-group radio">
                        <input type="radio" id="id_response_6" value="Very Poor" name="Quality" style="width: auto;">
                        <label for="id_response_6">Very Poor</label>
                    </div>

                </div>


            </div>

            <div class="form-control">
                <p>2. Courtesy/honesty/integrity</p>
                <div class="input-group radio">
                    <input type="radio" id="id_response_1" value="Very Good" name="integrity" required
                        style="width: auto;">
                    <label for="id_response_1">Very Good</label>
                </div>
                <div class="input-group radio">
                    <input type="radio" id="id_response_2" value="Good" name="integrity" required style="width: auto;">
                    <label for="id_response_2">Good</label>
                </div>
                <div class="input-group radio">
                    <input type="radio" id="id_response_3" value="Average" name="integrity" required
                        style="width: auto;">
                    <label for="id_response_3">Average</label>
                </div>
                <div class="input-group radio">
                    <input type="radio" id="id_response_4" value="Below Average" name="integrity" required
                        style="width: auto;">
                    <label for="id_response_3">Below Average</label>
                </div>
                <div class="input-group radio">
                    <input type="radio" id="id_response_5" value="Poor" name="integrity" required style="width: auto;">
                    <label for="id_response_5">Poor</label>
                </div>
                <div class="input-group radio">
                    <input type="radio" id="id_response_6" value="Very Poor" name="integrity" style="width: auto;">
                    <label for="id_response_6">Very Poor</label>
                </div>


            </div>

            <div class="form-control">
                <p>3. Service delivery time </p>
                <div class="input-group radio">
                    <input type="radio" id="id_response_1" value="Very Good" name="service_delivery" required
                        style="width: auto;">
                    <label for="id_response_1">Very Good</label>
                </div>
                <div class="input-group radio">
                    <input type="radio" id="id_response_2" value="Good" name="service_delivery" required
                        style="width: auto;">
                    <label for="id_response_2">Good</label>
                </div>
                <div class="input-group radio">
                    <input type="radio" id="id_response_3" value="Average" name="service_delivery" required
                        style="width: auto;">
                    <label for="id_response_3">Average</label>
                </div>
                <div class="input-group radio">
                    <input type="radio" id="id_response_4" value="Below Average" name="service_delivery" required
                        style="width: auto;">
                    <label for="id_response_3">Below Average</label>
                </div>
                <div class="input-group radio">
                    <input type="radio" id="id_response_5" value="Poor" name="service_delivery" required
                        style="width: auto;">
                    <label for="id_response_5">Poor</label>
                </div>
                <div class="input-group radio">
                    <input type="radio" id="id_response_6" value="Very Poor" name="service_delivery"
                        style="width: auto;">
                    <label for="id_response_6">Very Poor</label>
                </div>

            </div>

            <div class="form-control">
                <p>4. Addressing issues/problems </p>
                <div class="input-group radio">
                    <input type="radio" id="id_response_1" value="Very Good" name="problem_solving" required
                        style="width: auto;">
                    <label for="id_response_1">Very Good</label>
                </div>
                <div class="input-group radio">
                    <input type="radio" id="id_response_2" value="Good" name="problem_solving" required
                        style="width: auto;">
                    <label for="id_response_2">Good</label>
                </div>
                <div class="input-group radio">
                    <input type="radio" id="id_response_3" value="Average" name="problem_solving" required
                        style="width: auto;">
                    <label for="id_response_3">Average</label>
                </div>
                <div class="input-group radio">
                    <input type="radio" id="id_response_4" value="Below Average" name="problem_solving" required
                        style="width: auto;">
                    <label for="id_response_3">Below Average</label>
                </div>
                <div class="input-group radio">
                    <input type="radio" id="id_response_5" value="Poor" name="problem_solving" required
                        style="width: auto;">
                    <label for="id_response_5">Poor</label>
                </div>
                <div class="input-group radio">
                    <input type="radio" id="id_response_6" value="Very Poor" name="problem_solving"
                        style="width: auto;">
                    <label for="id_response_6">Very Poor</label>
                </div>


            </div>

            <div class="form-control">
                <p>5. Communication/response </p>
                <div class="input-group radio">
                    <input type="radio" id="id_response_1" value="Very Good" name="response" required
                        style="width: auto;">
                    <label for="id_response_1">Very Good</label>
                </div>
                <div class="input-group radio">
                    <input type="radio" id="id_response_2" value="Good" name="response" required style="width: auto;">
                    <label for="id_response_2">Good</label>
                </div>
                <div class="input-group radio">
                    <input type="radio" id="id_response_3" value="Average" name="response" required
                        style="width: auto;">
                    <label for="id_response_3">Average</label>
                </div>
                <div class="input-group radio">
                    <input type="radio" id="id_response_4" value="Below Average" name="response" required
                        style="width: auto;">
                    <label for="id_response_3">Below Average</label>
                </div>
                <div class="input-group radio">
                    <input type="radio" id="id_response_5" value="Poor" name="response" required style="width: auto;">
                    <label for="id_response_5">Poor</label>
                </div>
                <div class="input-group radio">
                    <input type="radio" id="id_response_6" value="Very Poor" name="response" style="width: auto;">
                    <label for="id_response_6">Very Poor</label>
                </div>

            </div>


            <div class="form-control">
                <label for="name">if other Kindly specify:</label>
                <input type="text" name="comments" value="">
            </div>
            <div class="form-control">
                <p>Would you prefer receiving this questionnaire by email or other means?</p>
                <div class="input-group radio">
                    <input type="radio" id="email" name="mode_of_response" value="email" style="width: auto;">
                    <label for="email">Email</label><br>
                </div>
                <div class="input-group radio">
                    <input type="radio" id="other" name="mode_of_response" value="other" style="width: auto;">
                    <label for="other">other</label><br>
                </div>
            </div>
            <div class="form-control">
                <label for="name">if other Kindly specify:</label>
                <input type="text" name="mode_of_response_type" value="">
            </div>
            <div class="form-control">
                <label for="name">Your Email address</label>
                <input type="email" name="email" value="">
            </div>



            <p><strong>Thank you for taking your time to fill this questionnaire</strong></p>
            <button type="submit" class="btn btn-secondary"> Send</button>
        </form>
    </div>


</section>

{% endblock body %}