{% extends 'base.html' %}
{% load static %}

{% block body %}
<section class="hero">
    <div class="hero__title">
        <h1>Home / Projects / {{ project_category_in.category }}</h1>
    </div>
</section>

<div class="projects">
    <div class="heading mb-2 mt-2">
        <h1>{% block title %} {{ project_category_in.category }} {% endblock title %}</h1>
        <div class="linebg_1"></div>
        <p style="text-align: center; padding-top:10px;">{{project_category_in.description}}</p>
    </div>


    <div class="projects__inner">
        {% for list in projects %}
        <div class="projects__inner--item">

            <img src="{{ list.image.url }}" alt="">
            <div class="projects__inner--content">

                <h2>
                    {{list.title}}
                </h2>
                <p>
                    {{list.description | safe | truncatewords_html:20 }}
                </p>
                <a href="{% url 'project-detail' list.slug %}">Read more &rarr;</a>
            </div>
        </div>


        {% endfor %}
    </div>
    {% if projects.has_other_pages %}
    <nav>
        <style>
            .pagination {
                display: flex !important;
                justify-content: center;
                margin-block: 3em;
                gap: 5px;
            }

            .page-link {
                background-color: #e8e8e8;
                border-radius: 4px;
                padding: 8px 16px;
                aspect-ratio: 1;
                text-align: center;
                font-size: medium;
            }

            .page-link:hover,
            .page-link.active {
                background-color: #90cd4b;
                border: none;
                color: white;
            }
        </style>
        <ul class="pagination ">
            {% if projects.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ projects.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">Prev</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">Prev</span>
            </li>
            {% endif %}

            {% for p in projects.paginator.page_range %}
            {% if projects.number == p %}
            <li class="page-item "><a class="page-link active" href="#">{{ p }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
            {% endif %}
            {% endfor %}

            {% if projects.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ projects.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">Next</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">Next</span>
            </li>
            {% endif %}
        </ul>
    </nav>

    {% endif %}


</div>




{% include 'section/cta_panel.html' %}


{% endblock body %}