{% extends 'base.html' %}
{% load static %}
{% block title %} Gallery {% endblock title %}

{% block body %}
<section class="hero">
    <div class="hero__title">
        <h1>Home / Gallery</h1>
    </div>
</section>

<div class="tabs">
    <div class="tabs__head">
        <span class="tabs__toggle is-active">Images</span>
        <span class="tabs__toggle">Videos</span>
    </div>
    <div class="tabs__body">

        <!-- Image content -->
        <div class="tabs__content is-active">
            <div class="tabs__media--container">
                {% for photo in photos %}
                <div class="img">
                    <a href="{% url 'PhotoGalleryDetails' photo.id  %}">
                        <img src="{{ photo.image.url }}" alt="">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Video content -->
        <div class="tabs__content">
            <div class="tabs__media--container">
                {% for video in videos %}
                <div class="video">
                    <a href="{% url 'VideoGalleryDetails' video.id %}">
                        <video src="{{ video.video.url }} ">
                            <source src="{{ video.video.url }}" type="video/mp4">
                            <source src="{{ video.video.url }}" type="video/ogg">
                            Your browser does not support the video tag.

                        </video>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock body %}