<<<<<<< HEAD
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: $light_color;
    font-family:$fonts;
    font-weight: 500;
    line-height: 1.6;
    
}

=======
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: $light_color;
    font-family:$fonts;
    font-weight: 500;
    line-height: 1.6;
    
}

>>>>>>> 89ce836f4d54b5e65ca84936565d5dc8994143e6
