<<<<<<< HEAD
// Set color based on bg
@function set_text_color($color) {
    @if(lightness($color) > 70) {
        @return $black;
    } @else {
        @return $white;
    }
}

// Set background and text color

@mixin set_background($color) {
    background-color: $color;
    color: set_text_color($color);
    border-color: set_text_color($color);
}

=======
// Set color based on bg
@function set_text_color($color) {
    @if(lightness($color) > 70) {
        @return $black;
    } @else {
        @return $white;
    }
}

// Set background and text color

@mixin set_background($color) {
    background-color: $color;
    color: set_text_color($color);
    border-color: set_text_color($color);
}

>>>>>>> 89ce836f4d54b5e65ca84936565d5dc8994143e6
